:root {
    --text: #555;
    --error: #ff0000;
    --border: #cdcdcd;
}

#form {
    width: 100vw; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form.contactForm {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input.contactInput, textarea.contactInput {
    border: 1px solid #8b80f9;
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    border-radius: 5px;   
}

span.errorsMsg {
    width: 100%;
    margin-bottom: 20px;
    color: var(--error);
    font-size: 12px;
}

textarea.contactInput {
    height: auto;
    padding: 10px;
}

div.blockSpam {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button.contactBtn {
    display:inline-block;
    border: 1px solid #8b80f9;
    padding: 1rem 2rem;
    border-radius: 3px;
    color: #3b80f9;
    font-family: Verdana;
    letter-spacing: -1px;
    user-select: none;
    transition: .3s all ease;
}

button.contactBtn:hover{
    position: relative;
    color: white;
    transition: 1.5s all ease;
}

button.contactBtn:hover:before{
    content: '';
    transition: .3s all ease;
    height:100%;
    border-radius: 2px;
    background-color: #8b80f9;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    animation: bgColorButton 1s ease-in-out;
    z-index: -1;
}

@keyframes bgColorButton{
    0% {
        width: 0;
    }
    100%{
        width: 100px;
    }
}

input.contactInput::placeholder, textarea.contactInput::placeholder {
    text-transform: uppercase;
    font-size: 14px;
}