form{
    margin-bottom: 300px;
}

:root {
    --text: #555;
    --error: #ff0000;
    --border: #cdcdcd;
}

#form {
    width: 100vw; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form.contactForm {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend.contactTitle {
    text-align: center;
    text-transform: uppercase;
    color: var(--text);
    padding: 30px;
}

input.contactInput, textarea.contactInput {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    border: 2px solid var(--border);
    border-radius: 3px;
    
}

span.errorsMsg {
    width: 100%;
    margin-bottom: 20px;
    color: var(--error);
    font-size: 12px;
}

textarea.contactInput {
    height: auto;
    padding: 10px;
}

div.blockSpam {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button.contactBtn {
    background: none;
    border: none;
    outline: none;
    width: 50%;
    height: 40px;
    padding: 0px 10px;
    border: 2px solid var(--border);
    border-radius: 3px;
    text-transform: uppercase;
    color: var(--text);
}

input.contactInput::placeholder, textarea.contactInput::placeholder {
    text-transform: uppercase;
    font-size: 14px;
}