  /* Style the navbar */
  #servicios {
    padding-bottom: 0;
    color: #333;
  }
 
  @media (min-width: 768px) {
  }
  #servicios .feature {
    padding: 25px 0;
  }
  @media (min-width: 768px) {
    #servicios .feature {
      padding: 50px 0;
    }
  }
  #servicios .feature svg {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    fill: currentColor;
  }
  @media (min-width: 768px) {
    #servicios .feature svg {
      width: 60px;
      height: 60px;
    }
  }
  #servicios .feature h4 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 2px;
    color: #907dda;
  }
  #servicios .feature p {
    font-size: 14px;
    font-weight: 300;
    color: #BDC4D0;
    letter-spacing: 1px;
  }
  #servicios .animated-scroll {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    max-width: 450px;
    height: 315px;
    margin: 0 auto;
    border: 4px solid #826dd5;
    border-bottom-color: transparent;
    border-radius: 6px;
    overflow: hidden;
  }
  #servicios .animated-scroll .scroll-header {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60px;
    align-items: center;
    justify-content: center;
    background: #826dd5;
  }
  #servicios .animated-scroll .scroll-header .scroll-nav {
    width: 15%;
    height: 8px;
    margin-right: 5%;
    border-radius: 4px;
  }
  #servicios .animated-scroll .scroll-header .sn-1 {
    -webkit-animation-name: scrollColor-1;
            animation-name: scrollColor-1;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #servicios .animated-scroll .scroll-header .sn-2 {
    -webkit-animation-name: scrollColor-2;
            animation-name: scrollColor-2;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #servicios .animated-scroll .scroll-header .sn-3 {
    margin-right: 0;
    -webkit-animation-name: scrollColor-3;
            animation-name: scrollColor-3;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #servicios .animated-scroll .scroll-header svg.cursor {
    position: absolute;
    top: 28px;
    left: 50%;
    width: 20%;
    height: 20px;
    -webkit-animation-name: scrollCursor;
            animation-name: scrollCursor;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    z-index: 2;
  }
  #servicios .animated-scroll .scroll-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding-top: 20px;
    overflow: hidden;
  }
  #servicios .animated-scroll .scroll-child {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 150px;
    width: 90%;
    margin: 0 auto 20px;
    fill: #404040;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    -webkit-animation-name: scrollDemo;
            animation-name: scrollDemo;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #servicios .animated-scroll .sc-back-to-top {
    flex-basis: 40px;
    width: 40px;
    margin: 0 auto;
    border-radius: 100%;
    -webkit-animation-name: scrollBackToTop;
            animation-name: scrollBackToTop;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    z-index: 0;
  }
  #servicios .focus-events {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    max-width: 450px;
    height: 315px;
    margin: 0 auto;
    border: 4px solid #e6e8f0;
    border-bottom-color: transparent;
    border-radius: 6px;
    overflow: hidden;
  }
  #servicios .focus-events .scroll-header {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60px;
    align-items: center;
    justify-content: center;
    background: #e6e8f0;
  }
  #servicios .focus-events .scroll-header .scroll-nav {
    width: 15%;
    height: 8px;
    margin-right: 5%;
    border-radius: 4px;
  }
  #servicios .focus-events .scroll-header .sn-1 {
    -webkit-animation-name: focusColor-1;
            animation-name: focusColor-1;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #servicios .focus-events .scroll-header .sn-2 {
    -webkit-animation-name: focusColor-2;
            animation-name: focusColor-2;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #servicios .focus-events .scroll-header svg.cursor {
    position: absolute;
    top: 28px;
    left: 50%;
    width: 20%;
    height: 20px;
    -webkit-animation-name: focusCursor;
            animation-name: focusCursor;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    z-index: 2;
  }
  #servicios .focus-events .scroll-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding-top: 20px;
    overflow: hidden;
  }
  #servicios .focus-events .scroll-child {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 150px;
    width: 90%;
    margin: 0 auto 20px;
    padding: 10% 5%;
    background: rgba(0, 0, 0, 0.05);
    background: #edeef4;
    border-radius: 4px;
    -webkit-animation-name: focusDemo;
            animation-name: focusDemo;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #servicios .focus-events .scroll-child .header {
    height: 14px;
    width: 50%;
    margin: 0 auto 8px;
    border-radius: 8px;
    background: #dcdfeb;
  }
  #servicios .focus-events .scroll-child .sub-header {
    height: 10px;
    width: 40%;
    margin: 0 auto 22px;
    border-radius: 6px;
    background: #e3e5ef;
  }
  #servicios .focus-events .scroll-child .body {
    width: 70%;
    height: 8px;
    margin: 0 auto 8px;
    background: #e0e2ed;
  }
  #servicios .focus-events .sc-2 .header {
    -webkit-animation-name: focusHeaderColor;
            animation-name: focusHeaderColor;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes scrollWheel {
    from {
      transform: translate(-50%, 0);
      transform: translate3d(-50%, 0, 0);
      opacity: 1;
    }
    to {
      transform: translate(-50%, 20px);
      transform: translate3d(-50%, 20px, 0);
      opacity: 0;
    }
 }

 @media (min-width: 768px){
    @-webkit-keyframes scrollWheel{
    from{
      transform: translate(-50%, 0);
      transform: translate3d(-50%, 0, 0);
      opacity: 1;
    }
    to {
      transform: translate(-50%, 40px);
      transform: translate3d(-50%, 40px, 0);
      opacity: 0;
    }
  }
}
  
  @keyframes scrollWheel {
    from {
      transform: translate(-50%, 0);
      transform: translate3d(-50%, 0, 0);
      opacity: 1;
    }
    to {
      transform: translate(-50%, 20px);
      transform: translate3d(-50%, 20px, 0);
      opacity: 0;
    }  
  }

  @media (min-width: 768px) {
    @keyframes scrollWheel {
    from {
      transform: translate(-50%, 0);
      transform: translate3d(-50%, 0, 0);
      opacity: 1;
    }
    to {
      transform: translate(-50%, 40px);
      transform: translate3d(-50%, 40px, 0);
      opacity: 0;
    }
  }
}

  @-webkit-keyframes scrollDemo {
    from, 30% {
      transform: translate(0, 0px);
      transform: translate3d(0, 0px, 0);
    }
    40%, 60% {
      transform: translate(0, -170px);
      transform: translate3d(0, -170px, 0);
    }
    70%, 90% {
      transform: translate(0, -340px);
      transform: translate3d(0, -340px, 0);
    }
    to {
      transform: translate(0, 0px);
      transform: translate3d(0, 0px, 0);
    }
  }
  @keyframes scrollDemo {
    from, 30% {
      transform: translate(0, 0px);
      transform: translate3d(0, 0px, 0);
    }
    40%, 60% {
      transform: translate(0, -170px);
      transform: translate3d(0, -170px, 0);
    }
    70%, 90% {
      transform: translate(0, -340px);
      transform: translate3d(0, -340px, 0);
    }
    to {
      transform: translate(0, 0px);
      transform: translate3d(0, 0px, 0);
    }
  }
  @-webkit-keyframes scrollColor-1 {
    from, 39.9% {
      background: rgba(255, 255, 255, 0.7);
    }
    40%, to {
      background: #907dda;
    }
  }
  @keyframes scrollColor-1 {
    from, 39.9% {
      background: rgba(255, 255, 255, 0.7);
    }
    40%, to {
      background: #907dda;
    }
  }
  @-webkit-keyframes scrollColor-2 {
    from, 24% {
      background: #907dda;
    }
    24.2%, 28% {
      background: #b2a5e5;
    }
    28.2%, 39.9% {
      background: #907dda;
    }
    40%, 69.9% {
      background: rgba(255, 255, 255, 0.7);
    }
    70%, to {
      background: #907dda;
    }
  }
  @keyframes scrollColor-2 {
    from, 24% {
      background: #907dda;
    }
    24.2%, 28% {
      background: #b2a5e5;
    }
    28.2%, 39.9% {
      background: #907dda;
    }
    40%, 69.9% {
      background: rgba(255, 255, 255, 0.7);
    }
    70%, to {
      background: #907dda;
    }
  }
  @-webkit-keyframes scrollColor-3 {
    from, 53.8% {
      background: #907dda;
    }
    54%, 57.8% {
      background: #b2a5e5;
    }
    58%, 69.9% {
      background: #907dda;
    }
    70%, 99.9% {
      background: rgba(255, 255, 255, 0.7);
    }
    to {
      background: #907dda;
    }
  }
  @keyframes scrollColor-3 {
    from, 53.8% {
      background: #907dda;
    }
    54%, 57.8% {
      background: #b2a5e5;
    }
    58%, 69.9% {
      background: #907dda;
    }
    70%, 99.9% {
      background: rgba(255, 255, 255, 0.7);
    }
    to {
      background: #907dda;
    }
  }
  @-webkit-keyframes scrollBackToTop {
    from, 30% {
      transform: translate(0, 0px);
      transform: translate3d(0, 0px, 0);
      background: rgba(255, 255, 255, 0.2);
    }
    40%, 60% {
      transform: translate(0, -170px);
      transform: translate3d(0, -170px, 0);
    }
    70%, 90% {
      transform: translate(0, -340px);
      transform: translate3d(0, -340px, 0);
    }
    84.8% {
      background: rgba(255, 255, 255, 0.2);
    }
    85%, 88.8% {
      background: rgba(255, 255, 255, 0.5);
    }
    89% {
      background: rgba(255, 255, 255, 0.2);
    }
    to {
      transform: translate(0, 0px);
      transform: translate3d(0, 0px, 0);
      background: rgba(255, 255, 255, 0.2);
    }
  }
  @keyframes scrollBackToTop {
    from, 30% {
      transform: translate(0, 0px);
      transform: translate3d(0, 0px, 0);
      background: rgba(255, 255, 255, 0.2);
    }
    40%, 60% {
      transform: translate(0, -170px);
      transform: translate3d(0, -170px, 0);
    }
    70%, 90% {
      transform: translate(0, -340px);
      transform: translate3d(0, -340px, 0);
    }
    84.8% {
      background: rgba(255, 255, 255, 0.2);
    }
    85%, 88.8% {
      background: rgba(255, 255, 255, 0.5);
    }
    89% {
      background: rgba(255, 255, 255, 0.2);
    }
    to {
      transform: translate(0, 0px);
      transform: translate3d(0, 0px, 0);
      background: rgba(255, 255, 255, 0.2);
    }
  }
  @-webkit-keyframes scrollCursor {
    from {
      transform: translate(-50%, 236px);
      transform: translate3d(-50%, 236px, 0);
    }
    15%, 30% {
      transform: translate(-50%, 0);
      transform: translate3d(-50%, 0, 0);
    }
    35%, 65% {
      transform: translate(50%, 0);
      transform: translate3d(50%, 0, 0);
    }
    78%, to {
      transform: translate(-50%, 236px);
      transform: translate3d(-50%, 236px, 0);
    }
  }
  @keyframes scrollCursor {
    from {
      transform: translate(-50%, 236px);
      transform: translate3d(-50%, 236px, 0);
    }
    15%, 30% {
      transform: translate(-50%, 0);
      transform: translate3d(-50%, 0, 0);
    }
    35%, 65% {
      transform: translate(50%, 0);
      transform: translate3d(50%, 0, 0);
    }
    78%, to {
      transform: translate(-50%, 236px);
      transform: translate3d(-50%, 236px, 0);
    }
  }
  @-webkit-keyframes focusDemo {
    from, 30% {
      transform: translate(0, 0px);
      transform: translate3d(0, 0px, 0);
    }
    40%, to {
      transform: translate(0, -170px);
      transform: translate3d(0, -170px, 0);
    }
  }
  @keyframes focusDemo {
    from, 30% {
      transform: translate(0, 0px);
      transform: translate3d(0, 0px, 0);
    }
    40%, to {
      transform: translate(0, -170px);
      transform: translate3d(0, -170px, 0);
    }
  }
  @-webkit-keyframes focusColor-1 {
    from, 39.9% {
      background: #d3d6e5;
    }
    40%, to {
      background: #F3F4F8;
    }
  }
  @keyframes focusColor-1 {
    from, 39.9% {
      background: #d3d6e5;
    }
    40%, to {
      background: #F3F4F8;
    }
  }
  @-webkit-keyframes focusColor-2 {
    from, 24% {
      background: #F3F4F8;
    }
    24.2%, 28% {
      background: #dcdfeb;
    }
    28.2%, 40% {
      background: #F3F4F8;
    }
    40.1%, to {
      background: #d3d6e5;
    }
  }
  @keyframes focusColor-2 {
    from, 24% {
      background: #F3F4F8;
    }
    24.2%, 28% {
      background: #dcdfeb;
    }
    28.2%, 40% {
      background: #F3F4F8;
    }
    40.1%, to {
      background: #d3d6e5;
    }
  }
  @-webkit-keyframes focusHeaderColor {
    from, 40% {
      background: #dcdfeb;
    }
    40.2%, 70% {
      background: #907dda;
    }
    75%, to {
      background: #dcdfeb;
    }
  }
  @keyframes focusHeaderColor {
    from, 40% {
      background: #dcdfeb;
    }
    40.2%, 70% {
      background: #907dda;
    }
    75%, to {
      background: #dcdfeb;
    }
  }
  @-webkit-keyframes focusCursor {
    from {
      transform: translate(-50%, 200px);
      transform: translate3d(-50%, 200px, 0);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    15%, 30% {
      opacity: 1;
      transform: translate(-10%, 0);
      transform: translate3d(-10%, 0, 0);
    }
    45%, to {
      opacity: 0;
    }
  }
  @keyframes focusCursor {
    from {
      transform: translate(-50%, 200px);
      transform: translate3d(-50%, 200px, 0);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    15%, 30% {
      opacity: 1;
      transform: translate(-10%, 0);
      transform: translate3d(-10%, 0, 0);
    }
    45%, to {
      opacity: 0;
    }
  }
  .highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
  }
  
  .highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
  .highlight pre code {
    font-size: inherit;
    color: #333;
  }
  
  .highlight pre code:first-child {
    display: inline-block;
    padding-right: 45px;
  }