#nuestro-equipo {
    background: #F3F4F8;
  }
  #nuestro-equipo h4 {
    margin-bottom: 20px;
    margin-bottom: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 1px;
    color: #BDC4D0;
  }
  #nuestro-equipo .video-roll--container {
    padding: 0;
  }
  @media (min-width: 768px) {
    #nuestro-equipo .video-roll--container {
      padding: 0 15px;
    }
  }
  #nuestro-equipo .video-roll {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 80px;
    padding: 25px 0 0;
    list-style: none;
  }
  @media (min-width: 768px) {
    #nuestro-equipo .video-roll {
      margin: 0 auto 120px;
    }
  }
  #nuestro-equipo .video-roll:after {
    content: "";
    display: block;
    width: 30%;
    height: 14px;
    margin: -90px auto 0;
    margin: -20px auto 0;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 50px 40px rgba(0, 0, 0, 0.4);
  }
  @media (min-width: 768px) {
    #nuestro-equipo .video-roll:after {
      margin: 0px auto 0;
    }
  }
  #nuestro-equipo .video-roll li {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    background: transparent;
  }
  #nuestro-equipo .video-roll li:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
  #nuestro-equipo .video-roll li:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 60%;
    height: 14px;
    margin: -90px auto 0;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 50px 40px rgba(0, 0, 0, 0.25);
    transform: translate(-50%, 0);
    transform: translate3d(-50%, 0, 0);
  }
  #nuestro-equipo .video-roll li:first-child {
    visibility: hidden;
    flex-basis: 10%;
    transform: translate(50%, 0);
    transform: translate3d(50%, 0, 0);
    opacity: 0;
  }
  @media (min-width: 768px) {
    #nuestro-equipo .video-roll li:first-child {
      visibility: visible;
      flex-basis: 30%;
      opacity: 1;
    }
  }
  #nuestro-equipo .video-roll li:first-child a {
    background-image: url("../img/cards-prueba.png");
    transform-origin: left center;
  }

  #nuestro-equipo .video-roll li:first-child(1) {
    background-image: url("../img/cards-prueba.png");
    transform-origin: left center;
  }
  #nuestro-equipo .video-roll li:nth-child(2) {
    flex-basis: 80%;
    z-index: 2;
  }
  @media (min-width: 768px) {
    #nuestro-equipo .video-roll li:nth-child(2) {
      flex-basis: 40%;
    }
  }
  #nuestro-equipo .video-roll li:nth-child(2):after {
    display: none;
  }
  #nuestro-equipo .video-roll li:nth-child(2) a {
    flex-grow: 1;
    background-image: url("../img/cards-prueba.png");
    transform-origin: center center;
  }
  #nuestro-equipo .video-roll li:last-child {
    visibility: hidden;
    flex-basis: 10%;
    transform: translate(-50%, 0);
    transform: translate3d(-50%, 0, 0);
    opacity: 0;
  }
  @media (min-width: 768px) {
    #nuestro-equipo .video-roll li:last-child {
      visibility: visible;
      flex-basis: 30%;
      opacity: 1;
    }
  }
  #nuestro-equipo .video-roll li:last-child a {
    background-image: url("../img/cards-prueba.png");
    transform-origin: right center;
  }
  #nuestro-equipo .video-roll li a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out;
    will-change: transform;
  }
  #nuestro-equipo .video-roll li a:hover {
    transform: translate(0, -4px);
    transform: translate3d(0, -4px, 0);
  }

  /* TARJETA */

  .container2 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    background-color: #F3F4F8;
    padding: 40px 0;

}

.slider__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}

.slider__body {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #f0f0ff;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
    border-radius: 15px;
    border: #AEAED8 solid 5px;
    box-shadow: #D6C1DF 5px 5px 5px;
    padding: 0;
}

.slider__body--show {
    opacity: 1;
    pointer-events: unset;
}

.slider__texts {
    max-width: 600px;
}

.subtitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;

}

.subtitle2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.slider__review {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
}

.slider__img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border: #D6C1DF solid 4px;
}

.slider__arrow {
    cursor: pointer;
    width: 90%;
    fill: #AEAED8;
}

.hability {
    background-color: #c2c2ff;
    height: 50px;
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    
}


.hability .sub-hability a {
    font-size: 30px;
    color: #F7F2D0;
}


.hability .sub-hability i:hover {
    -webkit-animation: shadow-pop-tr .3s cubic-bezier(.6, -.28, .735, .045) both;
    animation: shadow-pop-tr .3s cubic-bezier(.6, -.28, .735, .045) both
}

@-webkit-keyframes shadow-pop-tr {
    0% {
        -webkit-box-shadow: 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF;
        box-shadow: 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }

    100% {
        -webkit-box-shadow: 1px -1px #D6C1DF, 2px -2px #D6C1DF, 3px -3px #D6C1DF, 4px -4px #D6C1DF, 5px -5px #D6C1DF, 6px -6px #D6C1DF, 7px -7px #D6C1DF, 8px -8px #D6C1DF;
        box-shadow: 1px -1px #D6C1DF, 2px -2px #D6C1DF, 3px -3px #D6C1DF, 4px -4px #D6C1DF, 5px -5px #D6C1DF, 6px -6px #D6C1DF, 7px -7px #D6C1DF, 8px -8px #D6C1DF;
        -webkit-transform: translateX(-8px) translateY(8px);
        transform: translateX(-8px) translateY(8px)
    }
}

@keyframes shadow-pop-tr {
    0% {
        -webkit-box-shadow: 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF;
        box-shadow: 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF, 0 0 #D6C1DF;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }

    100% {
        -webkit-box-shadow: 1px -1px #D6C1DF, 2px -2px #D6C1DF, 3px -3px #D6C1DF, 4px -4px #D6C1DF, 5px -5px #D6C1DF, 6px -6px #D6C1DF, 7px -7px #D6C1DF, 8px -8px #D6C1DF;
        box-shadow: 1px -1px #D6C1DF, 2px -2px #D6C1DF, 3px -3px #D6C1DF, 4px -4px #D6C1DF, 5px -5px #D6C1DF, 6px -6px #D6C1DF, 7px -7px #D6C1DF, 8px -8px #D6C1DF;
        -webkit-transform: translateX(-8px) translateY(8px);
        transform: translateX(-8px) translateY(8px)
    }
}

@media(max-width:768px) {
    .slider__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }
.slider__picture{
    grid-row: 1/2;
}

    .slider__img {
        width: 210px;  
        height: 210px;
    }

.hability{
    border-radius: 0%;
}
}

@media(max-width:425px) {
    .slider__body{
        grid-template-columns: 25px 1fr 25px;
        
    }
.slider__picture{
    grid-row: 1/2;
}

    .slider__img {
        width: 180px;  
        height: 180px;
    }

.slider__arrow{
    width: 100%;
}
.subtitle{
    font-size: 2rem;
    margin-bottom: 15px;
}
.subtitle2{
    font-size: 1rem;
    margin-bottom: 15px;
}

.slider__review{
    font-size: 1rem;
    line-height: 1.6;
}
}