#nuestro-equipo {
    background: #F3F4F8;
  }
  #nuestro-equipo h4 {
    margin-bottom: 20px;
    margin-bottom: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 1px;
    color: #BDC4D0;
  }
  #nuestro-equipo .video-roll--container {
    padding: 0;
  }
  @media (min-width: 768px) {
    #nuestro-equipo .video-roll--container {
      padding: 0 15px;
    }
  }
  #nuestro-equipo .video-roll {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 80px;
    padding: 25px 0 0;
    list-style: none;
  }
  @media (min-width: 768px) {
    #nuestro-equipo .video-roll {
      margin: 0 auto 120px;
    }
  }
  #nuestro-equipo .video-roll:after {
    content: "";
    display: block;
    width: 30%;
    height: 14px;
    margin: -90px auto 0;
    margin: -20px auto 0;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 50px 40px rgba(0, 0, 0, 0.4);
  }
  @media (min-width: 768px) {
    #nuestro-equipo .video-roll:after {
      margin: 0px auto 0;
    }
  }
  #nuestro-equipo .video-roll li {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    background: transparent;
  }
  #nuestro-equipo .video-roll li:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
  #nuestro-equipo .video-roll li:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 60%;
    height: 14px;
    margin: -90px auto 0;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 50px 40px rgba(0, 0, 0, 0.25);
    transform: translate(-50%, 0);
    transform: translate3d(-50%, 0, 0);
  }
  #nuestro-equipo .video-roll li:first-child {
    visibility: hidden;
    flex-basis: 10%;
    transform: translate(50%, 0);
    transform: translate3d(50%, 0, 0);
    opacity: 0;
  }
  @media (min-width: 768px) {
    #nuestro-equipo .video-roll li:first-child {
      visibility: visible;
      flex-basis: 30%;
      opacity: 1;
    }
  }
  #nuestro-equipo .video-roll li:first-child a {
    background-image: url("../img/cards-prueba.png");
    transform-origin: left center;
  }
  #nuestro-equipo .video-roll li:nth-child(2) {
    flex-basis: 80%;
    z-index: 2;
  }
  @media (min-width: 768px) {
    #nuestro-equipo .video-roll li:nth-child(2) {
      flex-basis: 40%;
    }
  }
  #nuestro-equipo .video-roll li:nth-child(2):after {
    display: none;
  }
  #nuestro-equipo .video-roll li:nth-child(2) a {
    flex-grow: 1;
    background-image: url("../img/cards-prueba.png");
    transform-origin: center center;
  }
  #nuestro-equipo .video-roll li:last-child {
    visibility: hidden;
    flex-basis: 10%;
    transform: translate(-50%, 0);
    transform: translate3d(-50%, 0, 0);
    opacity: 0;
  }
  @media (min-width: 768px) {
    #nuestro-equipo .video-roll li:last-child {
      visibility: visible;
      flex-basis: 30%;
      opacity: 1;
    }
  }
  #nuestro-equipo .video-roll li:last-child a {
    background-image: url("../img/cards-prueba.png");
    transform-origin: right center;
  }
  #nuestro-equipo .video-roll li a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out;
    will-change: transform;
  }
  #nuestro-equipo .video-roll li a:hover {
    transform: translate(0, -4px);
    transform: translate3d(0, -4px, 0);
  }